@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
  }

  a {
    @apply text-lightBlue-600;
  }

  a:hover {
    @apply text-lightBlue-400;
  }

  a:active {
    @apply text-lightBlue-900;
  }
}

header h1 {
  font-family: "DotGothic16", monospace;
}

label[for="toggle-darkmode"] {
  @apply absolute top-2 right-3 md:top-6 md:right-8 block box-border w-10 h-4 bg-gray-100 border border-gray-200 rounded-full shadow;
}

label[for="toggle-darkmode"]::after {
  content: "";
  top: -0.2rem;
  left: -0.2rem;
  @apply absolute w-5 h-5 box-border block bg-gray-100 border border-gray-200 rounded-full shadow;
  transition: 250ms left ease;
}

html.dark label[for="toggle-darkmode"] {
  @apply bg-gradient-to-r from-green-400 to-blue-500;
}

html.dark label[for="toggle-darkmode"]::after {
  left: 1.2rem;
}

main h2:first-child::before {
  content: "✋";
  margin-right: 0.4rem;
  display: inline-block;
  transform: rotate(-45deg);
  animation: shake linear 0.5s 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0) translateY(0) rotate(-45deg);
  }
  20% {
    transform: translateX(-0.2rem) translateY(0.2rem) rotate(-45deg);
  }
  40% {
    transform: translateX(0.2rem) translateY(-0.2rem) rotate(-45deg);
  }
  60% {
    transform: translateX(-0.2rem) translateY(0.2rem) rotate(-45deg);
  }
  80% {
    transform: translateX(0.2rem) translateY(-0.2rem) rotate(-45deg);
  }
}
