@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-3xl my-8;
  }

  h2 {
    @apply text-2xl my-6;
  }

  p {
    @apply my-4;
  }

  a {
    @apply text-sky-600;
  }

  a:hover,
  a:focus {
    @apply text-sky-500;
  }

  dt {
    @apply mt-4;
  }

  dd {
    @apply text-sm ml-4;
  }
}

@layer utilities {
  .footnote-border {
    @apply block h-full absolute -left-3 border-l-2 border-orange-400;
  }
}
